@import "../../styles/common";

.property-management {
    width        : 100%;
    height       : 100%;
    background   : white;
    border-radius: 4px;

    .property-management-container {
        margin-top: 50px;

        .property-management-content {
            padding: 10px;

            .container-action {
                display        : flex;
                justify-content: flex-end;

                .btn-add {
                    color     : #333;
                    background: #00deb6;
                    border    : 0;
                    min-width : 100px;

                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
}




// từ 575.98px trở xuống
@include media-breakpoint-down(xs) {}


// từ 767px trở xuống
@include media-breakpoint-down(sm) {}

// từ 991px trở xuống
@include media-breakpoint-down(md) {}