.project-top {
    width: 100%;

    .slick-prev:before,
    .slick-next:before {
        color    : #000000;
        font-size: 25px;
    }

    .slick-arrow {}

    .slick-slider {
        .slick-list {
            .slick-track {
                display: flex;
                gap    : 15px;

                .slick-slide {
                    border : 1px solid #e6ecf0;
                    padding: 10px;

                    .item-news {
                        height: 165px;
                        cursor: pointer;

                        .block-img {
                            height: 100%;
                            width : 100%;

                            img {
                                width        : 100%;
                                height       : 100%;
                                border-radius: 8px;
                            }
                        }


                        .block-content {
                            .item-info {
                                .info-name {}

                                .info-addr {
                                    margin-top : 4px;
                                    font-size  : 14px;
                                    line-height: 21px;
                                    color      : #657786;
                                    overflow   : hidden;
                                }


                                .info-attr {
                                    font-weight: 600;
                                    display    : flex;
                                    gap        : 10px;
                                    margin     : 15px 0px;
                                }

                                .info-price {
                                    margin-top : 8px;
                                    font-size  : 18px;
                                    line-height: 27px;
                                    height     : 27px;
                                    font-weight: 700;
                                    color      : #0499a8;

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}