.error-boundary {

  .error-boundary-wrapper {
    // background    : themed("n_layout_bg_block");
    border-radius : 4px !important;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    padding       : 30px 24px;

    .gif {
      display        : flex;
      justify-content: center;
    }

    .content {
      text-align: center;
      margin    : 3rem 0;
    }

    .content .main-heading {
      font-size  : 2.5rem;
      font-weight: 700;
    }

    p {
      font-size: 1.3rem;
      padding  : 0.7rem 0;
    }

    button {
      padding      : 10px;
      border-radius: 5px;
      outline      : none;
      border       : none;
      background   : #0046d4;
      color        : #fff;
      font-size    : 15px;
      cursor       : pointer;
      min-width    : 100px;
      font-weight  : 700;
    }
  }
}