@import "../../../styles/common";

.modal-detail-account {
    max-width: 600px;
    margin   : auto;
    height   : auto;
    right    : 0px;

    .body {
        .wrap-body {
            .property-info {
                font-size      : 14px;
                border-top     : 2px solid #b6b1b1;
                padding        : 15px 0;
                display        : flex;
                justify-content: space-between;

                .label-property {
                    color: #000;
                    width: 40%;
                }

                .value-property {
                    width          : 60%;
                    display        : flex;
                    justify-content: flex-end;
                    font-weight    : 700;
                }
            }
        }
    }
}