.modal-guide-maps {
    max-width: 80vw;
    margin   : auto;
    height   : auto;
    right    : 0px;

    .body {
        .body-content-row {
            margin: 10px 0px;

            h1 {}
        }
    }
}