$primary_color : #005198;
$red_color     : #ed1b24;
$bg_hover_menu : #f4efef;
$green_color   :rgb(17, 182, 102);
$blue_color    :rgb(4, 153, 168);
$orange_color  :rgb(235, 130, 25);
$black_color   :#000000;


$border_table  : #3F4247;
$common_header : #E4E4E4;
$common_body   : #EEEEEE;


// $themes : (dark: (n_modal_header_background: #fff) //START

//     light : (n_modal_header_background: #fff));