.recommend {
    .block-image {
        width     : 100%;
        margin-top: 20px;

        img {
            width: 100%;
        }
    }

    h1 {
        margin     : 20px 0px;
        font-weight: 700;
        font-size  : 20px;
    }
}