.modal-first-login {
    max-width: 600px;
    margin   : auto;
    height   : auto;
    right    : 0px;

    .body {
        .body-content-row {
            margin: 10px 0px;

            .label {
                display    : flex;
                align-items: center;
                font-weight: 700;
            }

            .value {
                text-align: left;
            }

            .container-action {
                justify-content: center;
                width          : 100%;

                .btn-continue {
                    color     : #333;
                    background: #00deb6;
                    border    : 0;
                    min-width : 100px;

                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
}