.page-detail-blogs {

    .info-title {
        font-weight: bold;
        font-size  : 18px;
        color      : #3c4146;
        margin     : 40px 0px 10px 0px;
    }

    .title {
        font-size  : 36px;
        font-weight: 700;
        padding    : 0px 0px 20px 0px;
    }


    .tach {
        margin: 10px 0px;
    }

    .wrap-share {
        padding      : 20px 0px;
        border-top   : 2px solid #000;
        border-bottom: 2px solid #000;
    }

    .share-content {
        display: flex;
        gap    : 10px;

        .icon-contact {
            padding: 10px 15px;

            span {
                i {
                    color: #fff;
                }
            }

            &.fb {
                background-color: #516eab;
            }

            &.twitter {
                background-color: #29c5f6;
            }

            &.pinterest {
                background-color: #ca212a;
            }

            &.whatsapp {
                background-color: #7bbf6a;
            }

            &.share {
                border: 1px solid #eee;

                i {
                    color: #000;
                }
            }
        }
    }
}