.search-news-home {
    position : absolute;
    top      : 50%;
    right    : 50%;
    transform: translate(50%, -50%);
    z-index  : 1;

    .wrap-search-news-home {

        .title-search {
            margin     : 0 auto;
            font-size  : 28px;
            font-weight: bold;
            color      : #fff;
            text-align : center;
            width      : 528px;
        }


        .search-content {
            background-color: rgba(40, 40, 46, .7);
            margin          : 0 auto;
            margin-top      : 32px;
            border-radius   : 4px;
            padding         : 36px 24px 24px 24px;
            border-radius   : 12px;
            display         : flex;
            flex-direction  : column;
            gap             : 15px;

            .search-input {
                display: flex;

                .search-filter-name {
                    width: 100%;

                    input {
                        width        : 100%;
                        height       : 48px;
                        border-radius: 8px 0 0 8px;
                        border       : none;
                        font-size    : 16px;
                        padding      : 0;
                        padding      : 12px;
                        border       : none;
                        line-height  : 24px;
                        color        : #262637;


                        &:focus {
                            outline: unset;
                            border : none;

                        }

                        &:hover {
                            outline: unset;
                            border : none;

                        }
                    }
                }

                .btn-search {
                    display         : block;
                    float           : right;
                    background-color: #01adba;
                    color           : #fff;
                    border-radius   : 0 8px 8px 0;
                    text-align      : center;
                    width           : 48px;
                    height          : 48px;
                    cursor          : pointer;

                    i {
                        font-size: 20px;
                    }
                }
            }


            .search-filter {
                display: flex;
                gap    : 10px;

                .search-dropdown {
                    border-radius: 5px;
                    position     : relative;
                    cursor       : pointer;

                    .btn-search-dropdown {
                        border     : none;
                        margin     : 0;
                        box-shadow : none;
                        color      : #fff;
                        font-size  : 15px;
                        font-weight: 600;
                        text-align : left;
                        display    : flex;
                        gap        : 10px;
                    }

                    .active {
                        // color      : #0499a8 !important;
                        // font-weight: 600;

                        >.wrap-content {
                            color      : #0499a8 !important;
                            font-weight: 600;
                        }
                    }

                    .wrap-dropdown-menusub-filter {
                        position  : absolute;
                        top       : 35px;
                        right     : 0px;
                        background: #fff;
                        border    : 1px solid #dfdfe1;
                        background: #fff;
                        z-index   : 9999;

                        .dropdown-menusub-filter {
                            max-height: 270px;
                            overflow-y: scroll;
                            margin    : 0;
                            list-style: none;
                            padding   : 0;
                            width     : 240px;
                            background: #fff;
                            z-index   : 9999;

                            .dropdown-menuitem-filter {

                                &:hover {
                                    .dropdown-menu-child {
                                        display: block !important;
                                    }
                                }

                                .wrap-content {
                                    padding    : 6px 12px;
                                    cursor     : pointer;
                                    font-size  : 15px;
                                    line-height: 24px;
                                    color      : #3c4146;
                                    position   : relative;

                                    &:hover {
                                        background-color: #f5f5f5;
                                    }

                                    .icon-select {
                                        width   : 20px;
                                        height  : 20px px;
                                        position: absolute;
                                        top     : 5px;
                                        right   : 0px;
                                        fill    : #01adba;
                                    }
                                }

                                .dropdown-menu-child {
                                    position  : absolute;
                                    right     : -235px;
                                    background: #fff;
                                    border    : 1px solid #dfdfe1;
                                    background: #fff;
                                    z-index   : 9999;

                                    position  : absolute;
                                    top       : 0px;
                                    max-height: 270px;
                                    overflow-y: scroll;
                                    margin    : 0;
                                    list-style: none;
                                    padding   : 0;
                                    width     : 240px;
                                    background: #fff;
                                    z-index   : 9999;
                                    display   : none;
                                }
                            }
                        }

                        .price-filter {
                            width: 120px;

                            .active {
                                color      : #0499a8 !important;
                                font-weight: 600;
                            }

                            .title-price {
                                background-color: #f0f2f5;
                                border-left     : none;
                                font-weight     : 600;
                            }

                            .item-price {
                                padding: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}